* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background: #081b29;
    font-family: serif;
}

.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  float: left;
  margin-left: 2px;
  animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 { background-color: #754fa0; }
.loader .bar2 { background-color: #09b7bf; animation-delay: -0.7s; }
.loader .bar3 { background-color: #90d36b; animation-delay: -0.6s; }
.loader .bar4 { background-color: #f2d40d; animation-delay: -0.5s; }
.loader .bar5 { background-color: #fcb12b; animation-delay: -0.4s; }
.loader .bar6 { background-color: #ed1b72; animation-delay: -0.3s; }

@keyframes delay {
  0%, 40%, 100% { transform: scaleY(0.05); }
  20% { transform: scaleY(1); }
}


.shaliniimg {
    position: relative;
    margin-left: 200px;
    margin-top: 40px;
    width: 250px;
    height: 250px;
    background: transparent; 
    border: .2rem solid rgba(255,255,255,.3); 
    border-radius: 50%; 
    filter: drop-shadow(0 0 4rem cyan); 
    animation: Scale 1s ease forwards; 
    scale: 0; 
    animation-delay: 1s; 
} 

.shaliniimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.shaliniimg img:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 150px cyan, 0 0 200px cyan;
   border: .2rem solid rgba(0, 0, 0, 0.3);
}

@keyframes Scale { 
    0% { 
        scale: 0; 
    } 
    100% { 
        scale: 1; 
    } 
}

.radhe-radhe {
    font-size: 37px;
    color: whitesmoke;
    animation: slideRight 1s ease forwards;
    position: relative;
    margin-left: 20px;
    margin-top: 55px;
    font-family: "Lobster", cursive;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.shalini-text {
    font-size: 37px;
    color: whitesmoke;
    animation: slideRight 1s ease forwards;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Lobster", cursive;
}

.Ima {
    font-size: 39px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
    margin-left: 20px;
    margin-top: 20px;
}

.Ima span {
    color: cyan;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -270px;
}

.home-social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-social-media a:hover {
    background-color: red;
    color: black;
    box-shadow: 0 0 5px orange, 0 0 25px orange, 0 0 50px orange, 0 0 100px orange, 0 0 200px orange;

    
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.3em;
  margin-top: 33px;
  text-decoration: underline;
  text-decoration-color: cyan;
}

.about-me-content {
  display: flex;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 1.3em;
  margin-top: 30px;
  margin-left: 30px;
  line-height: 1.7;
  font-family: serif;
}

.more-about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.more-about-me {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.more-about-me a {
    display: inline-block;
    padding: 12px 28px;
    background: transparent;
    border-radius: 16px;
    color: cyan;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    transition: box-shadow 0.5s ease;
}

.more-about-me a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
  
  
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

section{
    display: flex;
    flex-wrap: wrap;
}

@keyframes showText
{
    100%{
        opacity: 1;
    }
}
.radial-bars
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.radial-bars .radial-bar
{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bars
{
    100%{
        stroke-dashoffset: -1;
    }
}
.path
{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 276.1; 
    stroke-linecap: round;
  animation: Sanimate-path 1s linear forwards;
}

@keyframes Sanimate-path {
    100% {
        stroke-dashoffset: 276.1;
    }
}

.Tpath
{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 100.4; 
    stroke-linecap: round;
  animation: Tanimate-path 1s linear forwards;
}


@keyframes Tanimate-path {
    100% {
        stroke-dashoffset: 100.4;
    }
}
.TTpath
{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 200.8; 
    stroke-linecap: round;
  animation: TTanimate-path 1s linear forwards;
}


@keyframes TTanimate-path {
    100% {
        stroke-dashoffset: 200.8;
    }
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1
{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2
{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3
{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4
{
    100%{
        stroke-dashoffset: 75;
    }
}


.container1{
    width: 600px;
    height: 400px;
    padding: 75px 90px;
    margin-left: 20px;
    margin-top: -120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 60px;
}

.Technical-bars .bar {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
    margin-top: 30px;
}

.Technical-bars .bar .info {
    flex: 1;
    display: flex;
    align-items: center;
}

.Technical-bars .bar .info span {
    margin-left: 10px;
    font-size: 20px;
}

.Technical-bars .bar .progess-line {
    position: relative;
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
}

.Technical-bars .bar .progess-line span {
    display: block;
    height: 100%;
    background: #00eeff;
    width: 0;
    animation: loadProgress 2s forwards;
}

.Technical-bars .bar .progess-line.html span {
    background: brown;
}

.Technical-bars .bar .progess-line.css span {
    background: #147bbc;
}

.Technical-bars .bar .progess-line.javascript span {
    background: lawngreen;
}

.Technical-bars .bar .progess-line.python span {
    background: blueviolet;
}

.Technical-bars .bar .progess-line.cplus span {
    background: rgba(0, 0, 255, 0.551);
}

@keyframes loadProgress {
    from { width: 0; }
    to { width: 90%;  }
}

.Technical-bars .bar .Sprogess-line {
    position: relative;
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
}

.Technical-bars .bar .Sprogess-line span {
    display: block;
    height: 100%;
    background: #00eeff;
    width: 0;
    animation: SloadProgress 2s forwards;
}

.Technical-bars .bar .Sprogess-line.html span {
    background: brown;
}

@keyframes SloadProgress {
    from { width: 0; }
    to { width: 60%;  }
}


.Technical-bars .bar .jprogess-line {
    position: relative;
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
}

.Technical-bars .bar .jprogess-line span {
    display: block;
    height: 100%;
    background: #00eeff;
    width: 0;
    animation: jloadProgress 2s forwards;
}

.Technical-bars .bar .jprogess-line.javascript span {
    background: green;
}

@keyframes jloadProgress {
    from { width: 0; }
    to { width: 40%;  }
}


.radial-bar .percentage
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .about-text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.1em;
  margin-top: 83px;
  text-decoration: underline;
  text-decoration-color: cyan;
}

.contact-me-text {
  display: flex;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 1.3em;
  margin-top: 30px;
  margin-left: 30px;
  line-height: 1.7;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   /* margin-left: -270px;*/
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background-color: cyan;
    color: black;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}


.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 90s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: yellow;
  opacity: 0.6;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 10s;
}
.firefly:nth-child(1)::after {
  animation-duration: 13s, 106ms;
  animation-delay: 0ms, 57ms;
}

@keyframes move1 {
  0% {
    transform: translateX(45vw) translateY(42vh) scale(0.31);
  }
  3.7037037037% {
    transform: translateX(-9vw) translateY(37vh) scale(0.39);
  }
  7.4074074074% {
    transform: translateX(-34vw) translateY(-31vh) scale(0.56);
  }
  11.1111111111% {
    transform: translateX(48vw) translateY(-34vh) scale(0.77);
  }
  14.8148148148% {
    transform: translateX(38vw) translateY(33vh) scale(0.51);
  }
  18.5185185185% {
    transform: translateX(-41vw) translateY(28vh) scale(0.72);
  }
  22.2222222222% {
    transform: translateX(48vw) translateY(-19vh) scale(0.44);
  }
  25.9259259259% {
    transform: translateX(-48vw) translateY(-29vh) scale(0.98);
  }
  29.6296296296% {
    transform: translateX(6vw) translateY(-35vh) scale(0.4);
  }
  33.3333333333% {
    transform: translateX(8vw) translateY(22vh) scale(0.58);
  }
  37.037037037% {
    transform: translateX(-14vw) translateY(40vh) scale(0.94);
  }
  40.7407407407% {
    transform: translateX(9vw) translateY(-46vh) scale(0.81);
  }
  44.4444444444% {
    transform: translateX(-42vw) translateY(-45vh) scale(0.57);
  }
  48.1481481481% {
    transform: translateX(11vw) translateY(-6vh) scale(0.74);
  }
  51.8518518519% {
    transform: translateX(35vw) translateY(-4vh) scale(0.83);
  }
  55.5555555556% {
    transform: translateX(-20vw) translateY(-35vh) scale(0.72);
  }
  59.2592592593% {
    transform: translateX(22vw) translateY(-12vh) scale(0.44);
  }
  62.962962963% {
    transform: translateX(24vw) translateY(25vh) scale(0.74);
  }
  66.6666666667% {
    transform: translateX(-13vw) translateY(-31vh) scale(0.35);
  }
  70.3703703704% {
    transform: translateX(48vw) translateY(16vh) scale(0.66);
  }
  74.0740740741% {
    transform: translateX(-16vw) translateY(-16vh) scale(0.43);
  }
  77.7777777778% {
    transform: translateX(-25vw) translateY(-20vh) scale(0.33);
  }
  81.4814814815% {
    transform: translateX(50vw) translateY(17vh) scale(1);
  }
  85.1851851852% {
    transform: translateX(-21vw) translateY(-11vh) scale(0.87);
  }
  88.8888888889% {
    transform: translateX(36vw) translateY(8vh) scale(0.72);
  }
  92.5925925926% {
    transform: translateX(-31vw) translateY(17vh) scale(0.3);
  }
  96.2962962963% {
    transform: translateX(-46vw) translateY(-17vh) scale(0.59);
  }
  100% {
    transform: translateX(-3vw) translateY(-2vh) scale(0.64);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 12s;
}
.firefly:nth-child(2)::after {
  animation-duration: 12s, 9466ms;
  animation-delay: 0ms, 2206ms;
}

@keyframes move2 {
  0% {
    transform: translateX(50vw) translateY(-6vh) scale(0.88);
  }
  4.1666666667% {
    transform: translateX(-9vw) translateY(-46vh) scale(0.44);
  }
  8.3333333333% {
    transform: translateX(-4vw) translateY(-21vh) scale(0.43);
  }
  12.5% {
    transform: translateX(30vw) translateY(46vh) scale(0.8);
  }
  16.6666666667% {
    transform: translateX(40vw) translateY(22vh) scale(0.83);
  }
  20.8333333333% {
    transform: translateX(37vw) translateY(-30vh) scale(0.8);
  }
  25% {
    transform: translateX(10vw) translateY(0vh) scale(0.42);
  }
  29.1666666667% {
    transform: translateX(-27vw) translateY(6vh) scale(0.53);
  }
  33.3333333333% {
    transform: translateX(47vw) translateY(45vh) scale(0.81);
  }
  37.5% {
    transform: translateX(-23vw) translateY(-37vh) scale(0.73);
  }
  41.6666666667% {
    transform: translateX(-24vw) translateY(-39vh) scale(0.73);
  }
  45.8333333333% {
    transform: translateX(2vw) translateY(25vh) scale(0.33);
  }
  50% {
    transform: translateX(5vw) translateY(36vh) scale(0.37);
  }
  54.1666666667% {
    transform: translateX(-19vw) translateY(43vh) scale(0.88);
  }
  58.3333333333% {
    transform: translateX(-19vw) translateY(16vh) scale(0.42);
  }
  62.5% {
    transform: translateX(36vw) translateY(-40vh) scale(0.9);
  }
  66.6666666667% {
    transform: translateX(-40vw) translateY(-45vh) scale(0.82);
  }
  70.8333333333% {
    transform: translateX(-47vw) translateY(-33vh) scale(0.3);
  }
  75% {
    transform: translateX(-13vw) translateY(18vh) scale(0.53);
  }
  79.1666666667% {
    transform: translateX(24vw) translateY(4vh) scale(0.63);
  }
  83.3333333333% {
    transform: translateX(-42vw) translateY(4vh) scale(0.78);
  }
  87.5% {
    transform: translateX(41vw) translateY(-38vh) scale(0.96);
  }
  91.6666666667% {
    transform: translateX(7vw) translateY(48vh) scale(0.96);
  }
  95.8333333333% {
    transform: translateX(-32vw) translateY(39vh) scale(0.88);
  }
  100% {
    transform: translateX(-41vw) translateY(-14vh) scale(0.74);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 12s;
}
.firefly:nth-child(3)::after {
  animation-duration: 12s, 5135ms;
  animation-delay: 0ms, 8459ms;
}

@keyframes move3 {
  0% {
    transform: translateX(38vw) translateY(-1vh) scale(0.64);
  }
  3.7037037037% {
    transform: translateX(-3vw) translateY(35vh) scale(0.74);
  }
  7.4074074074% {
    transform: translateX(46vw) translateY(27vh) scale(0.55);
  }
  11.1111111111% {
    transform: translateX(-40vw) translateY(-6vh) scale(0.45);
  }
  14.8148148148% {
    transform: translateX(6vw) translateY(-11vh) scale(1);
  }
  18.5185185185% {
    transform: translateX(31vw) translateY(-39vh) scale(0.33);
  }
  22.2222222222% {
    transform: translateX(-28vw) translateY(-38vh) scale(0.78);
  }
  25.9259259259% {
    transform: translateX(-41vw) translateY(28vh) scale(0.95);
  }
  29.6296296296% {
    transform: translateX(3vw) translateY(-10vh) scale(0.26);
  }
  33.3333333333% {
    transform: translateX(-19vw) translateY(-2vh) scale(0.73);
  }
  37.037037037% {
    transform: translateX(33vw) translateY(27vh) scale(0.87);
  }
  40.7407407407% {
    transform: translateX(18vw) translateY(15vh) scale(0.46);
  }
  44.4444444444% {
    transform: translateX(21vw) translateY(30vh) scale(0.27);
  }
  48.1481481481% {
    transform: translateX(15vw) translateY(-4vh) scale(0.28);
  }
  51.8518518519% {
    transform: translateX(22vw) translateY(11vh) scale(0.54);
  }
  55.5555555556% {
    transform: translateX(8vw) translateY(0vh) scale(0.98);
  }
  59.2592592593% {
    transform: translateX(8vw) translateY(-18vh) scale(0.61);
  }
  62.962962963% {
    transform: translateX(15vw) translateY(-8vh) scale(0.97);
  }
  66.6666666667% {
    transform: translateX(29vw) translateY(-31vh) scale(0.88);
  }
  70.3703703704% {
    transform: translateX(31vw) translateY(-30vh) scale(0.51);
  }
  74.0740740741% {
    transform: translateX(-28vw) translateY(-32vh) scale(0.97);
  }
  77.7777777778% {
    transform: translateX(-14vw) translateY(47vh) scale(0.58);
  }
  81.4814814815% {
    transform: translateX(39vw) translateY(27vh) scale(0.36);
  }
  85.1851851852% {
    transform: translateX(-8vw) translateY(18vh) scale(0.58);
  }
  88.8888888889% {
    transform: translateX(45vw) translateY(-22vh) scale(0.46);
  }
  92.5925925926% {
    transform: translateX(-37vw) translateY(21vh) scale(0.33);
  }
  96.2962962963% {
    transform: translateX(-36vw) translateY(-7vh) scale(0.33);
  }
  100% {
    transform: translateX(-6vw) translateY(28vh) scale(0.51);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 15s;
}
.firefly:nth-child(4)::after {
  animation-duration: 15s, 8748ms;
  animation-delay: 0ms, 1365ms;
}

@keyframes move4 {
  0% {
    transform: translateX(-39vw) translateY(-26vh) scale(0.61);
  }
  4.5454545455% {
    transform: translateX(-28vw) translateY(-16vh) scale(0.41);
  }
  9.0909090909% {
    transform: translateX(27vw) translateY(-37vh) scale(0.96);
  }
  13.6363636364% {
    transform: translateX(-7vw) translateY(-25vh) scale(0.54);
  }
  18.1818181818% {
    transform: translateX(47vw) translateY(8vh) scale(0.43);
  }
  22.7272727273% {
    transform: translateX(36vw) translateY(1vh) scale(1);
  }
  27.2727272727% {
    transform: translateX(-41vw) translateY(6vh) scale(0.7);
  }
  31.8181818182% {
    transform: translateX(-11vw) translateY(-26vh) scale(0.63);
  }
  36.3636363636% {
    transform: translateX(16vw) translateY(24vh) scale(0.81);
  }
  40.9090909091% {
    transform: translateX(28vw) translateY(39vh) scale(0.83);
  }
  45.4545454545% {
    transform: translateX(-26vw) translateY(-41vh) scale(0.46);
  }
  50% {
    transform: translateX(28vw) translateY(-16vh) scale(0.26);
  }
  54.5454545455% {
    transform: translateX(10vw) translateY(-19vh) scale(0.87);
  }
  59.0909090909% {
    transform: translateX(-9vw) translateY(-32vh) scale(0.53);
  }
  63.6363636364% {
    transform: translateX(-42vw) translateY(50vh) scale(0.55);
  }
  68.1818181818% {
    transform: translateX(-8vw) translateY(35vh) scale(0.71);
  }
  72.7272727273% {
    transform: translateX(-12vw) translateY(-44vh) scale(0.77);
  }
  77.2727272727% {
    transform: translateX(46vw) translateY(-28vh) scale(0.52);
  }
  81.8181818182% {
    transform: translateX(-11vw) translateY(-15vh) scale(0.66);
  }
  86.3636363636% {
    transform: translateX(7vw) translateY(45vh) scale(0.5);
  }
  90.9090909091% {
    transform: translateX(-19vw) translateY(43vh) scale(0.44);
  }
  95.4545454545% {
    transform: translateX(5vw) translateY(11vh) scale(0.73);
  }
  100% {
    transform: translateX(-34vw) translateY(-19vh) scale(0.77);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 8864ms;
  animation-delay: 0ms, 5207ms;
}

@keyframes move5 {
  0% {
    transform: translateX(14vw) translateY(41vh) scale(0.81);
  }
  3.8461538462% {
    transform: translateX(-7vw) translateY(17vh) scale(0.67);
  }
  7.6923076923% {
    transform: translateX(22vw) translateY(-36vh) scale(0.44);
  }
  11.5384615385% {
    transform: translateX(-13vw) translateY(7vh) scale(0.61);
  }
  15.3846153846% {
    transform: translateX(-3vw) translateY(-36vh) scale(0.66);
  }
  19.2307692308% {
    transform: translateX(17vw) translateY(24vh) scale(0.65);
  }
  23.0769230769% {
    transform: translateX(-37vw) translateY(-39vh) scale(0.48);
  }
  26.9230769231% {
    transform: translateX(-5vw) translateY(19vh) scale(0.39);
  }
  30.7692307692% {
    transform: translateX(-24vw) translateY(-44vh) scale(0.44);
  }
  34.6153846154% {
    transform: translateX(-30vw) translateY(-40vh) scale(0.87);
  }
  38.4615384615% {
    transform: translateX(-34vw) translateY(21vh) scale(0.91);
  }
  42.3076923077% {
    transform: translateX(-19vw) translateY(-20vh) scale(0.75);
  }
  46.1538461538% {
    transform: translateX(43vw) translateY(-45vh) scale(0.54);
  }
  50% {
    transform: translateX(-23vw) translateY(-41vh) scale(0.59);
  }
  53.8461538462% {
    transform: translateX(30vw) translateY(42vh) scale(0.77);
  }
  57.6923076923% {
    transform: translateX(18vw) translateY(34vh) scale(0.27);
  }
  61.5384615385% {
    transform: translateX(-33vw) translateY(-12vh) scale(0.94);
  }
  65.3846153846% {
    transform: translateX(18vw) translateY(-23vh) scale(0.9);
  }
  69.2307692308% {
    transform: translateX(-15vw) translateY(-49vh) scale(0.55);
  }
  73.0769230769% {
    transform: translateX(-7vw) translateY(-24vh) scale(0.93);
  }
  76.9230769231% {
    transform: translateX(14vw) translateY(27vh) scale(0.94);
  }
  80.7692307692% {
    transform: translateX(-22vw) translateY(-20vh) scale(0.47);
  }
  84.6153846154% {
    transform: translateX(-45vw) translateY(34vh) scale(0.48);
  }
  88.4615384615% {
    transform: translateX(14vw) translateY(-32vh) scale(0.29);
  }
  92.3076923077% {
    transform: translateX(20vw) translateY(41vh) scale(0.74);
  }
  96.1538461538% {
    transform: translateX(-35vw) translateY(44vh) scale(0.74);
  }
  100% {
    transform: translateX(3vw) translateY(-20vh) scale(0.72);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 16s;
}
.firefly:nth-child(6)::after {
  animation-duration: 16s, 8198ms;
  animation-delay: 0ms, 3618ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-10vw) translateY(4vh) scale(0.65);
  }
  5.5555555556% {
    transform: translateX(43vw) translateY(-40vh) scale(0.47);
  }
  11.1111111111% {
    transform: translateX(-43vw) translateY(26vh) scale(0.44);
  }
  16.6666666667% {
    transform: translateX(-49vw) translateY(-45vh) scale(0.63);
  }
  22.2222222222% {
    transform: translateX(21vw) translateY(-44vh) scale(0.4);
  }
  27.7777777778% {
    transform: translateX(22vw) translateY(10vh) scale(0.57);
  }
  33.3333333333% {
    transform: translateX(-13vw) translateY(-28vh) scale(0.66);
  }
  38.8888888889% {
    transform: translateX(14vw) translateY(40vh) scale(0.42);
  }
  44.4444444444% {
    transform: translateX(-38vw) translateY(-9vh) scale(0.43);
  }
  50% {
    transform: translateX(-3vw) translateY(-25vh) scale(0.65);
  }
  55.5555555556% {
    transform: translateX(-7vw) translateY(-46vh) scale(1);
  }
  61.1111111111% {
    transform: translateX(-35vw) translateY(19vh) scale(0.61);
  }
  66.6666666667% {
    transform: translateX(-28vw) translateY(3vh) scale(0.42);
  }
  72.2222222222% {
    transform: translateX(-4vw) translateY(26vh) scale(0.78);
  }
  77.7777777778% {
    transform: translateX(17vw) translateY(45vh) scale(0.54);
  }
  83.3333333333% {
    transform: translateX(-1vw) translateY(26vh) scale(0.73);
  }
  88.8888888889% {
    transform: translateX(-7vw) translateY(-32vh) scale(0.62);
  }
  94.4444444444% {
    transform: translateX(-39vw) translateY(-31vh) scale(0.59);
  }
  100% {
    transform: translateX(2vw) translateY(10vh) scale(0.93);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 15s;
}
.firefly:nth-child(7)::after {
  animation-duration: 15s, 8258ms;
  animation-delay: 0ms, 7553ms;
}

@keyframes move7 {
  0% {
    transform: translateX(-31vw) translateY(4vh) scale(0.73);
  }
  3.8461538462% {
    transform: translateX(-17vw) translateY(-34vh) scale(0.46);
  }
  7.6923076923% {
    transform: translateX(8vw) translateY(1vh) scale(0.33);
  }
  11.5384615385% {
    transform: translateX(23vw) translateY(-13vh) scale(0.43);
  }
  15.3846153846% {
    transform: translateX(-37vw) translateY(24vh) scale(0.46);
  }
  19.2307692308% {
    transform: translateX(36vw) translateY(32vh) scale(0.89);
  }
  23.0769230769% {
    transform: translateX(23vw) translateY(-9vh) scale(0.49);
  }
  26.9230769231% {
    transform: translateX(-41vw) translateY(14vh) scale(0.27);
  }
  30.7692307692% {
    transform: translateX(9vw) translateY(23vh) scale(0.33);
  }
  34.6153846154% {
    transform: translateX(37vw) translateY(41vh) scale(0.63);
  }
  38.4615384615% {
    transform: translateX(-8vw) translateY(-26vh) scale(0.86);
  }
  42.3076923077% {
    transform: translateX(14vw) translateY(32vh) scale(0.73);
  }
  46.1538461538% {
    transform: translateX(-44vw) translateY(2vh) scale(0.79);
  }
  50% {
    transform: translateX(-1vw) translateY(49vh) scale(0.64);
  }
  53.8461538462% {
    transform: translateX(-14vw) translateY(21vh) scale(0.77);
  }
  57.6923076923% {
    transform: translateX(15vw) translateY(44vh) scale(0.66);
  }
  61.5384615385% {
    transform: translateX(-29vw) translateY(36vh) scale(0.84);
  }
  65.3846153846% {
    transform: translateX(43vw) translateY(-42vh) scale(0.31);
  }
  69.2307692308% {
    transform: translateX(3vw) translateY(13vh) scale(0.51);
  }
  73.0769230769% {
    transform: translateX(-17vw) translateY(35vh) scale(0.76);
  }
  76.9230769231% {
    transform: translateX(-13vw) translateY(16vh) scale(1);
  }
  80.7692307692% {
    transform: translateX(-16vw) translateY(26vh) scale(0.97);
  }
  84.6153846154% {
    transform: translateX(2vw) translateY(-16vh) scale(0.62);
  }
  88.4615384615% {
    transform: translateX(45vw) translateY(16vh) scale(0.96);
  }
  92.3076923077% {
    transform: translateX(44vw) translateY(13vh) scale(0.52);
  }
  96.1538461538% {
    transform: translateX(6vw) translateY(20vh) scale(0.71);
  }
  100% {
    transform: translateX(19vw) translateY(-42vh) scale(0.78);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 9s;
}
.firefly:nth-child(8)::after {
  animation-duration: 9s, 9356ms;
  animation-delay: 0ms, 2762ms;
}

@keyframes move8 {
  0% {
    transform: translateX(26vw) translateY(-27vh) scale(0.86);
  }
  5% {
    transform: translateX(-39vw) translateY(-11vh) scale(0.51);
  }
  10% {
    transform: translateX(-1vw) translateY(-11vh) scale(0.27);
  }
  15% {
    transform: translateX(-37vw) translateY(-8vh) scale(0.76);
  }
  20% {
    transform: translateX(-17vw) translateY(33vh) scale(0.74);
  }
  25% {
    transform: translateX(30vw) translateY(34vh) scale(0.41);
  }
  30% {
    transform: translateX(16vw) translateY(-4vh) scale(0.89);
  }
  35% {
    transform: translateX(-26vw) translateY(18vh) scale(0.42);
  }
  40% {
    transform: translateX(-5vw) translateY(-31vh) scale(0.83);
  }
  45% {
    transform: translateX(-42vw) translateY(-24vh) scale(0.57);
  }
  50% {
    transform: translateX(-11vw) translateY(-11vh) scale(0.69);
  }
  55% {
    transform: translateX(-45vw) translateY(2vh) scale(0.52);
  }
  60% {
    transform: translateX(5vw) translateY(44vh) scale(0.94);
  }
  65% {
    transform: translateX(2vw) translateY(44vh) scale(0.9);
  }
  70% {
    transform: translateX(-4vw) translateY(16vh) scale(0.85);
  }
  75% {
    transform: translateX(-34vw) translateY(-44vh) scale(0.85);
  }
  80% {
    transform: translateX(1vw) translateY(-39vh) scale(0.76);
  }
  85% {
    transform: translateX(-1vw) translateY(-26vh) scale(0.61);
  }
  90% {
    transform: translateX(-2vw) translateY(34vh) scale(0.32);
  }
  95% {
    transform: translateX(-18vw) translateY(-31vh) scale(0.53);
  }
  100% {
    transform: translateX(23vw) translateY(6vh) scale(0.57);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 18s;
}
.firefly:nth-child(9)::after {
  animation-duration: 18s, 5763ms;
  animation-delay: 0ms, 5186ms;
}

@keyframes move9 {
  0% {
    transform: translateX(-41vw) translateY(-20vh) scale(0.77);
  }
  5% {
    transform: translateX(12vw) translateY(-4vh) scale(1);
  }
  10% {
    transform: translateX(-22vw) translateY(-38vh) scale(0.45);
  }
  15% {
    transform: translateX(-11vw) translateY(-11vh) scale(0.79);
  }
  20% {
    transform: translateX(5vw) translateY(-18vh) scale(0.36);
  }
  25% {
    transform: translateX(38vw) translateY(1vh) scale(0.33);
  }
  30% {
    transform: translateX(-9vw) translateY(6vh) scale(0.34);
  }
  35% {
    transform: translateX(7vw) translateY(17vh) scale(0.39);
  }
  40% {
    transform: translateX(-37vw) translateY(-41vh) scale(0.62);
  }
  45% {
    transform: translateX(10vw) translateY(10vh) scale(0.55);
  }
  50% {
    transform: translateX(-17vw) translateY(23vh) scale(0.84);
  }
  55% {
    transform: translateX(-43vw) translateY(-10vh) scale(0.45);
  }
  60% {
    transform: translateX(4vw) translateY(-30vh) scale(0.28);
  }
  65% {
    transform: translateX(31vw) translateY(46vh) scale(0.42);
  }
  70% {
    transform: translateX(-41vw) translateY(26vh) scale(0.43);
  }
  75% {
    transform: translateX(-49vw) translateY(-34vh) scale(0.96);
  }
  80% {
    transform: translateX(33vw) translateY(33vh) scale(0.68);
  }
  85% {
    transform: translateX(9vw) translateY(-22vh) scale(0.62);
  }
  90% {
    transform: translateX(11vw) translateY(-44vh) scale(0.6);
  }
  95% {
    transform: translateX(-25vw) translateY(-20vh) scale(0.47);
  }
  100% {
    transform: translateX(13vw) translateY(-39vh) scale(0.4);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 18s;
}
.firefly:nth-child(10)::after {
  animation-duration: 18s, 7805ms;
  animation-delay: 0ms, 5102ms;
}

@keyframes move10 {
  0% {
    transform: translateX(27vw) translateY(-20vh) scale(0.76);
  }
  4.7619047619% {
    transform: translateX(-33vw) translateY(5vh) scale(1);
  }
  9.5238095238% {
    transform: translateX(-16vw) translateY(-44vh) scale(0.72);
  }
  14.2857142857% {
    transform: translateX(-24vw) translateY(-17vh) scale(0.47);
  }
  19.0476190476% {
    transform: translateX(-16vw) translateY(40vh) scale(0.42);
  }
  23.8095238095% {
    transform: translateX(-42vw) translateY(27vh) scale(0.48);
  }
  28.5714285714% {
    transform: translateX(17vw) translateY(3vh) scale(0.89);
  }
  33.3333333333% {
    transform: translateX(35vw) translateY(48vh) scale(0.3);
  }
  38.0952380952% {
    transform: translateX(-33vw) translateY(-12vh) scale(0.27);
  }
  42.8571428571% {
    transform: translateX(11vw) translateY(41vh) scale(0.88);
  }
  47.619047619% {
    transform: translateX(-28vw) translateY(-12vh) scale(0.87);
  }
  52.380952381% {
    transform: translateX(44vw) translateY(5vh) scale(0.28);
  }
  57.1428571429% {
    transform: translateX(33vw) translateY(-9vh) scale(0.29);
  }
  61.9047619048% {
    transform: translateX(28vw) translateY(32vh) scale(0.58);
  }
  66.6666666667% {
    transform: translateX(6vw) translateY(-36vh) scale(0.85);
  }
  71.4285714286% {
    transform: translateX(33vw) translateY(21vh) scale(0.53);
  }
  76.1904761905% {
    transform: translateX(-26vw) translateY(-38vh) scale(0.62);
  }
  80.9523809524% {
    transform: translateX(-13vw) translateY(39vh) scale(0.69);
  }
  85.7142857143% {
    transform: translateX(36vw) translateY(11vh) scale(0.65);
  }
  90.4761904762% {
    transform: translateX(28vw) translateY(-44vh) scale(0.65);
  }
  95.2380952381% {
    transform: translateX(37vw) translateY(-39vh) scale(0.62);
  }
  100% {
    transform: translateX(-41vw) translateY(38vh) scale(0.28);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 16s;
}
.firefly:nth-child(11)::after {
  animation-duration: 16s, 5479ms;
  animation-delay: 0ms, 7510ms;
}

@keyframes move11 {
  0% {
    transform: translateX(28vw) translateY(-44vh) scale(0.28);
  }
  5.5555555556% {
    transform: translateX(-39vw) translateY(34vh) scale(0.96);
  }
  11.1111111111% {
    transform: translateX(13vw) translateY(-38vh) scale(0.85);
  }
  16.6666666667% {
    transform: translateX(-35vw) translateY(40vh) scale(0.6);
  }
  22.2222222222% {
    transform: translateX(7vw) translateY(39vh) scale(0.88);
  }
  27.7777777778% {
    transform: translateX(18vw) translateY(-48vh) scale(0.77);
  }
  33.3333333333% {
    transform: translateX(35vw) translateY(-40vh) scale(0.67);
  }
  38.8888888889% {
    transform: translateX(49vw) translateY(-1vh) scale(0.29);
  }
  44.4444444444% {
    transform: translateX(-3vw) translateY(-5vh) scale(0.48);
  }
  50% {
    transform: translateX(-30vw) translateY(-16vh) scale(0.56);
  }
  55.5555555556% {
    transform: translateX(3vw) translateY(28vh) scale(0.26);
  }
  61.1111111111% {
    transform: translateX(-30vw) translateY(-2vh) scale(0.56);
  }
  66.6666666667% {
    transform: translateX(18vw) translateY(-3vh) scale(0.99);
  }
  72.2222222222% {
    transform: translateX(27vw) translateY(45vh) scale(0.91);
  }
  77.7777777778% {
    transform: translateX(50vw) translateY(-31vh) scale(0.33);
  }
  83.3333333333% {
    transform: translateX(-44vw) translateY(-42vh) scale(0.56);
  }
  88.8888888889% {
    transform: translateX(-26vw) translateY(2vh) scale(0.41);
  }
  94.4444444444% {
    transform: translateX(-24vw) translateY(-49vh) scale(0.75);
  }
  100% {
    transform: translateX(-49vw) translateY(-8vh) scale(0.34);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 10s;
}
.firefly:nth-child(12)::after {
  animation-duration: 10s, 8681ms;
  animation-delay: 0ms, 639ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-17vw) translateY(28vh) scale(0.99);
  }
  5% {
    transform: translateX(-31vw) translateY(-6vh) scale(0.82);
  }
  10% {
    transform: translateX(1vw) translateY(-37vh) scale(0.26);
  }
  15% {
    transform: translateX(-38vw) translateY(27vh) scale(0.44);
  }
  20% {
    transform: translateX(-8vw) translateY(-25vh) scale(0.75);
  }
  25% {
    transform: translateX(-21vw) translateY(30vh) scale(0.47);
  }
  30% {
    transform: translateX(-23vw) translateY(-40vh) scale(0.64);
  }
  35% {
    transform: translateX(-3vw) translateY(-32vh) scale(0.44);
  }
  40% {
    transform: translateX(-17vw) translateY(30vh) scale(0.42);
  }
  45% {
    transform: translateX(13vw) translateY(-44vh) scale(0.66);
  }
  50% {
    transform: translateX(35vw) translateY(-17vh) scale(0.78);
  }
  55% {
    transform: translateX(46vw) translateY(-48vh) scale(0.44);
  }
  60% {
    transform: translateX(30vw) translateY(-49vh) scale(0.82);
  }
  65% {
    transform: translateX(-14vw) translateY(31vh) scale(0.39);
  }
  70% {
    transform: translateX(-30vw) translateY(6vh) scale(0.45);
  }
  75% {
    transform: translateX(-18vw) translateY(-44vh) scale(0.27);
  }
  80% {
    transform: translateX(-34vw) translateY(36vh) scale(0.67);
  }
  85% {
    transform: translateX(1vw) translateY(-34vh) scale(0.3);
  }
  90% {
    transform: translateX(-18vw) translateY(14vh) scale(0.82);
  }
  95% {
    transform: translateX(16vw) translateY(-30vh) scale(0.55);
  }
  100% {
    transform: translateX(42vw) translateY(24vh) scale(0.26);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 11s;
}
.firefly:nth-child(13)::after {
  animation-duration: 11s, 10009ms;
  animation-delay: 0ms, 7256ms;
}

@keyframes move13 {
  0% {
    transform: translateX(0vw) translateY(28vh) scale(0.93);
  }
  3.8461538462% {
    transform: translateX(39vw) translateY(20vh) scale(0.43);
  }
  7.6923076923% {
    transform: translateX(23vw) translateY(9vh) scale(0.37);
  }
  11.5384615385% {
    transform: translateX(47vw) translateY(-35vh) scale(0.74);
  }
  15.3846153846% {
    transform: translateX(2vw) translateY(-44vh) scale(0.38);
  }
  19.2307692308% {
    transform: translateX(-27vw) translateY(-39vh) scale(0.5);
  }
  23.0769230769% {
    transform: translateX(4vw) translateY(23vh) scale(0.82);
  }
  26.9230769231% {
    transform: translateX(-14vw) translateY(-22vh) scale(0.86);
  }
  30.7692307692% {
    transform: translateX(26vw) translateY(-26vh) scale(0.64);
  }
  34.6153846154% {
    transform: translateX(-12vw) translateY(-16vh) scale(0.91);
  }
  38.4615384615% {
    transform: translateX(41vw) translateY(4vh) scale(0.85);
  }
  42.3076923077% {
    transform: translateX(16vw) translateY(-36vh) scale(0.58);
  }
  46.1538461538% {
    transform: translateX(-47vw) translateY(42vh) scale(0.92);
  }
  50% {
    transform: translateX(-39vw) translateY(-19vh) scale(0.96);
  }
  53.8461538462% {
    transform: translateX(18vw) translateY(-11vh) scale(0.45);
  }
  57.6923076923% {
    transform: translateX(-4vw) translateY(38vh) scale(0.68);
  }
  61.5384615385% {
    transform: translateX(24vw) translateY(41vh) scale(0.91);
  }
  65.3846153846% {
    transform: translateX(29vw) translateY(-11vh) scale(0.81);
  }
  69.2307692308% {
    transform: translateX(-36vw) translateY(-10vh) scale(0.48);
  }
  73.0769230769% {
    transform: translateX(-13vw) translateY(-27vh) scale(0.5);
  }
  76.9230769231% {
    transform: translateX(18vw) translateY(-46vh) scale(0.55);
  }
  80.7692307692% {
    transform: translateX(48vw) translateY(42vh) scale(0.95);
  }
  84.6153846154% {
    transform: translateX(23vw) translateY(-29vh) scale(0.58);
  }
  88.4615384615% {
    transform: translateX(-49vw) translateY(27vh) scale(0.33);
  }
  92.3076923077% {
    transform: translateX(24vw) translateY(23vh) scale(0.3);
  }
  96.1538461538% {
    transform: translateX(6vw) translateY(-25vh) scale(0.51);
  }
  100% {
    transform: translateX(-28vw) translateY(29vh) scale(0.77);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 13s;
}
.firefly:nth-child(14)::after {
  animation-duration: 13s, 6456ms;
  animation-delay: 0ms, 6436ms;
}

@keyframes move14 {
  0% {
    transform: translateX(22vw) translateY(-2vh) scale(0.86);
  }
  5% {
    transform: translateX(-24vw) translateY(-30vh) scale(0.63);
  }
  10% {
    transform: translateX(8vw) translateY(-27vh) scale(0.68);
  }
  15% {
    transform: translateX(44vw) translateY(34vh) scale(0.89);
  }
  20% {
    transform: translateX(-25vw) translateY(-46vh) scale(0.78);
  }
  25% {
    transform: translateX(-38vw) translateY(23vh) scale(0.51);
  }
  30% {
    transform: translateX(-4vw) translateY(50vh) scale(0.87);
  }
  35% {
    transform: translateX(-36vw) translateY(-27vh) scale(0.92);
  }
  40% {
    transform: translateX(25vw) translateY(45vh) scale(0.87);
  }
  45% {
    transform: translateX(-9vw) translateY(-11vh) scale(0.69);
  }
  50% {
    transform: translateX(-15vw) translateY(2vh) scale(0.51);
  }
  55% {
    transform: translateX(15vw) translateY(-25vh) scale(0.34);
  }
  60% {
    transform: translateX(-16vw) translateY(13vh) scale(0.97);
  }
  65% {
    transform: translateX(17vw) translateY(-43vh) scale(0.55);
  }
  70% {
    transform: translateX(9vw) translateY(34vh) scale(0.65);
  }
  75% {
    transform: translateX(20vw) translateY(-1vh) scale(0.47);
  }
  80% {
    transform: translateX(-20vw) translateY(-12vh) scale(0.68);
  }
  85% {
    transform: translateX(31vw) translateY(-5vh) scale(0.26);
  }
  90% {
    transform: translateX(42vw) translateY(-3vh) scale(0.99);
  }
  95% {
    transform: translateX(41vw) translateY(-45vh) scale(0.71);
  }
  100% {
    transform: translateX(-41vw) translateY(-8vh) scale(0.83);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 9s;
}
.firefly:nth-child(15)::after {
  animation-duration: 9s, 6831ms;
  animation-delay: 0ms, 4617ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-3vw) translateY(33vh) scale(0.95);
  }
  5% {
    transform: translateX(21vw) translateY(5vh) scale(0.64);
  }
  10% {
    transform: translateX(-5vw) translateY(-15vh) scale(0.47);
  }
  15% {
    transform: translateX(-6vw) translateY(-44vh) scale(0.89);
  }
  20% {
    transform: translateX(-31vw) translateY(12vh) scale(0.61);
  }
  25% {
    transform: translateX(24vw) translateY(-34vh) scale(0.44);
  }
  30% {
    transform: translateX(-33vw) translateY(-41vh) scale(0.64);
  }
  35% {
    transform: translateX(16vw) translateY(9vh) scale(0.97);
  }
  40% {
    transform: translateX(29vw) translateY(-19vh) scale(0.71);
  }
  45% {
    transform: translateX(29vw) translateY(35vh) scale(0.42);
  }
  50% {
    transform: translateX(15vw) translateY(-9vh) scale(0.69);
  }
  55% {
    transform: translateX(-6vw) translateY(-6vh) scale(0.44);
  }
  60% {
    transform: translateX(-12vw) translateY(9vh) scale(0.92);
  }
  65% {
    transform: translateX(31vw) translateY(8vh) scale(0.62);
  }
  70% {
    transform: translateX(-10vw) translateY(47vh) scale(0.75);
  }
  75% {
    transform: translateX(46vw) translateY(-28vh) scale(0.3);
  }
  80% {
    transform: translateX(0vw) translateY(-27vh) scale(0.9);
  }
  85% {
    transform: translateX(32vw) translateY(48vh) scale(0.34);
  }
  90% {
    transform: translateX(-41vw) translateY(-44vh) scale(0.98);
  }
  95% {
    transform: translateX(29vw) translateY(6vh) scale(0.3);
  }
  100% {
    transform: translateX(-33vw) translateY(0vh) scale(0.79);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}



.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  color: red;
}
.lds-heart div {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: currentColor;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: currentColor;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


